@import url("general.css");

.wrapper_background {
  background-color: #000000;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.main__container {
  max-width: 940px;
  margin: 0px auto;
}

.logo-index {
  margin: 60px auto;
  text-align: center;
}

.selling-points {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.selling-points__item {
  display: block;
  text-align: center;
}

.square {
  width: 20px;
  height: 20px;
  background-color: #f0f8ff;
  transform: rotate(45deg);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 25px;
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  color: #000;
  text-align: left;
  min-width: 890px;
  min-height: 419px;
  background: url(../icon/shape.svg) center no-repeat,
    url(../img/substrate.jpg) #f9f6f3;
  padding-top: 47px;
  margin-bottom: 36px;
}

.info__news {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  min-width: 342px;
  min-height: 324px;
}

.info__gallery {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-width: 300px;
  min-height: 324px;
}

.double-button {
  display: flex;
  gap: 20px;
}

time {
  text-transform: lowercase;
}

.info__contacts {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  min-width: 321px;
  min-height: 294px;
}

.info__registration {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  width: 302px;
  height: 340px;
}

.info__forms {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

input {
  font-size: inherit;
  font-family: inherit;
  padding-left: 17.11px;
  background-color: #f9f6f3;
  color: rgba(0, 0, 0, 0.5);
  width: 140.93px;
  height: 43px;
  border: 2px solid #000101;
}

input:focus {
  outline: none !important;
  border-color: #663d15;
}

.button_send {
  width: 302px;
  height: 43px;
}
