/*the first two selectors are needed to align the child blocks in the parents*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    margin: 0;
    
    background-color: #000000;
	background-image: url("../img/Фон.jpg");
	background-repeat: no-repeat;
}

.header-wrapper {
    background-color: black;
    margin: 0;
    width: auto;
    height: 72px;  
}

.container {
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 20px;
    max-width: 940px;
    margin: 0px auto;
}

ul {
    margin: 26px 0 0 0;
    padding: 0;
}

.navbar__links, .navbar__login {
    padding-right: 40px;
    display: inline;
}

a {
    color: white;
    text-decoration: none;
}

svg {
    margin-right: 12px;
}